<div class="tienda-componente">

    <div class="categorias">
        <ul>
            <li routerLink="" [queryParams]="{categoria: ''}" [class.active]="categoriaSeleccionada==undefined">Todos</li>
            <li routerLink="" [queryParams]="{categoria: cat.codigo}"
                [class.active]="categoriaSeleccionada && categoriaSeleccionada.codigo==cat.codigo"
                *ngFor="let cat of categoriasEncabezado">{{cat.nombre}}</li>
            <li routerLink="" [queryParams]="{showCategorias: true}">+</li>
        </ul>
    </div>

    <div class="productos">
        <mat-card class="producto" *ngFor="let producto of productos" routerLink=""
            [queryParams]="{producto: producto.codigo}">
            <div matRipple>
                <img src="assets/icons/icon-72x72.png" alt="" class="foto-producto">
                <p class="prod-nombre mat-title">{{producto.nombre}}</p>
                <p class="prod-detalle mat-body">{{producto.descripcion}}</p>
                <p class="prod-precio mat-subheading-2">
                    {{producto.costoMinimo==producto.costoMaximo ? '$' + producto.costoMinimo : '$' +producto.costoMinimo + ' - ' + '$' +producto.costoMaximo}}
                </p>
            </div>
        </mat-card>
        <h1 *ngIf="productos == undefined ? 'true' : productos.length==0">Actualmente no contamos con stock de {{categoriaSeleccionada?.codigo}}</h1>
    </div>

</div>


<div class="popup popup-animated" [class.popup-active]="mostrarCategorias">
    <div class="popup-bg" routerLink="" [queryParams]="{showCategorias: false}"></div>
    <div class="popup-content categoria-popup">
        <h1>Categorias</h1>
        <ul>
            <li [class.active]="categoriaSeleccionada==undefined" routerLink="" [queryParams]="{categoria: ''}">Todo</li>
            <li [class.active]="categoriaSeleccionada && categoriaSeleccionada!.codigo==cat.codigo" routerLink=""
                [queryParams]="{categoria: cat.codigo}" *ngFor="let cat of categorias">{{cat.nombre}}
            </li>
        </ul>
    </div>
</div>

<div class="popup popup-animated" [class.popup-active]="productoSeleccionado">
    <div class="popup-bg" routerLink="" [queryParams]="{producto : ''}" ></div>
    <div class="popup-content producto-popup">
        <div class="producto-info">
            <img src="{{productoSeleccionado?.imagenUrl}}" alt="Imagen {{productoSeleccionado?.nombre}}">
            <h1>{{productoSeleccionado?.nombre}}</h1>
            <p>{{productoSeleccionado?.descripcion}}</p>

            <ul *ngIf="variedadesProducto">
                <li *ngFor="let variedad of variedadesProducto">
                    <span class="texto-nombre" *ngIf="variedadesProducto!.length>1">{{variedad.nombre}}</span>
                    <span class="texto-costo">${{variedad.costo}}</span>
                    <mat-icon matRipple class="button-remove" color="warn" (click)="quitarVariedad(variedad)">remove_circle
                    </mat-icon>
                    <span class="counter">{{cantidadItem(variedad)}}</span>
                    <mat-icon class="button-add" color="primary" (click)="agregarVariedad(variedad)">add_circle</mat-icon>
                </li>
            </ul>

            <ul *ngIf="variedadesProducto ? variedadesProducto!.length==1 : false">
                <li *ngFor="let variedad of variedadesProducto">
                    <span class="texto-costo">${{variedad.costo}}</span>
                    <mat-icon matRipple class="button-remove" (click)="quitarVariedad(variedad)">remove_circle
                    </mat-icon>
                    <span class="counter">{{cantidadItem(variedad)}}</span>
                    <mat-icon class="button-add" (click)="agregarVariedad(variedad)">add_circle</mat-icon>
                </li>
            </ul>
        </div>
    </div>
</div>