<div class="tienda-componente">

    <div class="categorias">
        <ul>
            <li routerLink="" [queryParams]="{categoria: ''}" [class.active]="categoriaSeleccionada==undefined">Todos</li>
            <li routerLink="" [queryParams]="{categoria: cat.codigo}"
                [class.active]="categoriaSeleccionada && categoriaSeleccionada.codigo==cat.codigo"
                *ngFor="let cat of categoriasEncabezado">{{cat.nombre}}</li>
            <li routerLink="" [queryParams]="{showCategorias: true}">+ Más</li>
        </ul>
    </div>

    <div class="productos">
        <p class="mat-h1" *ngIf="categoriaSeleccionada">{{categoriaSeleccionada!.nombre}}</p>
        <mat-card class="producto slide-top" *ngFor="let producto of productos" routerLink=""
            [queryParams]="{producto: producto.codigo}">
            <div matRipple>
                <img src="assets/icons/icon-72x72.png"  alt="" class="foto-producto">
                <p class="prod-nombre mat-title">{{producto.nombre}}</p>
                <p class="prod-detalle mat-body">{{producto.descripcion}}</p>
                <p class="prod-precio mat-subheading-2">
                    {{producto.costoMinimo==producto.costoMaximo ? '$' + producto.costoMinimo : '$' +producto.costoMinimo + ' - ' + '$' +producto.costoMaximo}}
                </p>
            </div>
        </mat-card>
        <button mat-button color="primary" class="caption text-center" *ngIf="ultimaBusquedaProductos && ultimaBusquedaProductos!.pagina < ultimaBusquedaProductos!.totalPaginas" (click)="cargarMasProductos()">Cargar más productos</button>
        <p class="mat-h2"  *ngIf="productos == undefined ? 'true' : productos.length==0">Actualmente no contamos con stock de {{categoriaSeleccionada?.nombre}}</p>
    </div>

</div>


<div class="popup popup-animated" [class.popup-active]="mostrarCategorias">
    <div class="popup-bg" routerLink="" [queryParams]="{showCategorias: false}"></div>
    <div class="popup-content categoria-popup">
        <h1>Categorias</h1>
        <ul>
            <li [class.active]="categoriaSeleccionada==undefined" routerLink="" [queryParams]="{categoria: ''}">Todo</li>
            <li [class.active]="categoriaSeleccionada && categoriaSeleccionada!.codigo==cat.codigo" routerLink=""
                [queryParams]="{categoria: cat.codigo}" *ngFor="let cat of categorias">{{cat.nombre}}
            </li>
        </ul>
    </div>
</div>

<div class="popup popup-animated" [class.popup-active]="productoSeleccionado">
    <div class="popup-bg" routerLink="" [queryParams]="{producto : ''}" ></div>
    <div class="popup-content producto-popup">
        <div class="producto-info alternative">
            <img src="{{productoSeleccionado?.imagenUrl}}" alt="Imagen {{productoSeleccionado?.nombre}}">
            <h1>{{productoSeleccionado?.nombre}}</h1>
            <p>{{productoSeleccionado?.descripcion}}</p>

            <ul *ngIf="variedadesProducto">
                <li *ngFor="let variedad of variedadesProducto">
                    <span class="texto-nombre" *ngIf="variedadesProducto!.length>1">{{variedad.nombre}}</span>
                    <span class="texto-costo">${{variedad.costo}}</span>
                    
                    <button mat-icon-button class="button-remove" color="warn" (click)="quitarVariedad(variedad)">
                        <mat-icon>
                            remove_circle
                        </mat-icon>
                    </button>
                    <span class="counter">{{cantidadItem(variedad)}}</span>

                    <button mat-icon-button class="button-add" color="primary" (click)="agregarVariedad(variedad)"><mat-icon>add_circle</mat-icon></button>
                </li>
            </ul>
        </div>
    </div>
</div>