<p class="mat-h1">Pedido</p>

<div *ngIf="!pedido || pedido!.items!.length == 0">
    <p class="mat-h2 text-center">Tu pedido está vacio. Entra a la tienda y busca alguna delicia para encargar 😜
    </p>
</div>

<div class="resumen-pedido" *ngIf="pedido && pedido!.items!.length > 0">
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span class="text-right" style="font-weight: bold;">
                        Detalle de Pedido
                    </span>
                </mat-panel-title>

                <mat-panel-description>
                    <p class="text-right">
                        Subtotal: ${{subTotalPedido}}
                    </p>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-container *ngTemplateOutlet="pedidoDetalle"></ng-container>

        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p style="font-weight: bold;">
                        Modo de Entrega
                    </p>
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon color="warn"
                        *ngIf="!tipoEnvio || (tipoEnvio && tipoEnvio!.requiereDomicilio && direccionForm.invalid)">
                        warning</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container *ngTemplateOutlet="metodoEntrega"></ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p style="font-weight: bold;">
                        Datos de Contacto
                    </p>
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon color="warn" *ngIf="formContacto.invalid">
                        warning</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container *ngTemplateOutlet="datosContacto"></ng-container>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p style="font-weight: bold;">
                        Medio de Pago
                    </p>
                </mat-panel-title>
                <mat-panel-description>
                    <mat-icon color="warn" *ngIf="formContacto.invalid">
                        warning</mat-icon>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <ng-container *ngTemplateOutlet="medioPago"></ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div class="resumen-pedido text-right">
    <p class="mat-body-1 text-right" *ngIf="tipoEnvio">
        <b>Costo envio: ${{tipoEnvio ? tipoEnvio.costo : '0'}}</b>
    </p>
    <p class="mat-body-1 text-right">
        <b>Subtotal del Pedido: ${{subTotalPedido}}</b>
    </p>
    <p class="mat-body-1 text-right">
        <b>Total del Pedido:
            ${{tipoEnvio? tipoEnvio.costo + subTotalPedido : subTotalPedido}}</b>
    </p>
    <button mat-raised-button color="accent"
        [disabled]="!tipoEnvio || (tipoEnvio && tipoEnvio!.requiereDomicilio && direccionForm.invalid) || formContacto.invalid">Encargar!</button>
</div>


<ng-template #metodoEntrega>

    <div class="text-center">
        <mat-button-toggle-group name="TipoEnvio" aria-label="Selección de Envio para pedido" class="text-uppercase">
            <mat-button-toggle class="text-uppercase toggle-color-primary" (click)="tipoEnvio=envio"
                *ngFor="let envio of tiposEnvio" value="bold">
                <mat-icon> {{envio.icon}}</mat-icon>
                {{envio.descripcion}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="mat-body text-center" *ngIf="tipoEnvio && !tipoEnvio.requiereDomicilio">
        <p class="text-bold text-center">
            <b>Una vez confirmemos tu pedido te vamos a pasar las instrucciones para retirar el mismo</b>
        </p>
    </div>

    <div *ngIf="tipoEnvio && tipoEnvio.requiereDomicilio">
        <form [formGroup]="direccionForm">

            <mat-form-field>
                <mat-label>Provincia:</mat-label>
                <input matInput [formControl]="provincia" type="text">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Departamento:</mat-label>
                <input matInput [formControl]="departamento" type="text">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Ciudad/Barrio:</mat-label>
                <mat-select [formControl]="ciudad">
                    <mat-option *ngFor="let barrio of ciudades" [value]="barrio">
                        {{barrio}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <p class="mat-caption">Si no figura tu ciudad, carga "Otro" y en las observaciones consultanos si
                hacemos envios a tu ciudad.</p>

            <form [formGroup]="direccion">

                <mat-form-field>
                    <mat-label>Calle:</mat-label>
                    <input matInput [formControl]="calle" type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Número:</mat-label>
                    <input matInput [formControl]="numero" type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Entre calle:</mat-label>
                    <input matInput [formControl]="entreA" type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Y calle:</mat-label>
                    <input matInput [formControl]="entreB" type="text">
                </mat-form-field>
            </form>

            <mat-form-field>
                <mat-label>Observaciones:</mat-label>
                <textarea matInput [formControl]="observaciones"></textarea>
            </mat-form-field>
        </form>
    </div>
</ng-template>


<ng-template #pedidoDetalle>
    <div class="pedido-detalle" *ngIf="pedido && pedido.items.length > 0">
        <div *ngFor="let producto of cabecerasProducto" class="producto">
            <div class="nombre-producto mat-subheading-1">{{producto.nombre}}
                <mat-icon matRipple (click)="quitarProducto(producto)">delete</mat-icon>

            </div>
            <div *ngFor="let detalle of itemVariedades(producto)" class="producto-detalle">
                <div class="detalle-descripcion">
                    <div class="detalle-nombre mat-body-2">{{detalle.nombre}}</div>
                    <div class="detalle-costo-unidad mat-body-1">Costo Unitario: ${{detalle.costo}}</div>

                </div>

                <div class="detalle-cantidad">
                    <mat-icon matRipple color="accent" (click)="agregarItem(detalle)"
                        title="Agregar una unidad de {{producto.nombre}} -  {{detalle.nombre}}">
                        add_circle
                    </mat-icon>
                    <span>
                        {{detalle.cantidad}}
                    </span>
                    <mat-icon matRipple color="warn" (click)="quitarItem(detalle)"
                        title="Restar una unidad de {{producto.nombre}} -  {{detalle.nombre}}">
                        remove_circle</mat-icon>

                </div>

                <div class="detalle-subtotal mat-body-1">
                    ${{detalle.cantidad * detalle.costo}}
                </div>
            </div>


        </div>
        <div class="pedido-subtotal mat-h3 text-right">
            Subtotal del Pedido: ${{subTotalPedido}}
        </div>
    </div>
</ng-template>

<ng-template #datosContacto>
    <form [formGroup]="formContacto">
        <mat-form-field>
            <mat-label>Nombre:</mat-label>
            <input matInput [formControl]="nombre" type="text">
            <mat-error *ngIf="nombre.hasError('required')">Se requiere el nombre.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Apellido:</mat-label>
            <input matInput [formControl]="apellido" type="text">
            <mat-error *ngIf="apellido.hasError('required')">Se requiere el apellido.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Telefono:</mat-label>
            <input matInput [formControl]="telefono" type="tel">
            <mat-error *ngIf="telefono.hasError('required')">Se requiere el número de teléfono.</mat-error>
            <mat-error *ngIf="telefono.hasError('pattern')">Comprobá que el número de teléfono informado sea válido. Usa
                sólo números</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Correo:</mat-label>
            <input matInput [formControl]="email" type="text" type="email">
            <mat-error *ngIf="email.hasError('email')">El correo informado no es válido.</mat-error>
        </mat-form-field>
    </form>
</ng-template>

<ng-template #medioPago>
    <mat-button-toggle-group name="TipoPago" aria-label="Selección del medio de pago para el pedido"
        class="text-uppercase">
        <mat-button-toggle class="text-uppercase toggle-color-primary" value="bold">
            <mat-icon>local_atm</mat-icon>
            Efectivo
        </mat-button-toggle>
        <mat-button-toggle class="text-uppercase toggle-color-primary" value="bold">
            <mat-icon>payment</mat-icon>
            MercadoPago
        </mat-button-toggle>
    </mat-button-toggle-group>
</ng-template>