.content {
    padding: 0.5em 1em 0 1em;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    height: calc(100vh - 0.5em);
    width: calc(100vw - 2em);
    max-width: 900px;
    margin: auto;

    overflow: hidden;
}

.top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto;
    width: 100%;
    * {
        color: var(--primary-color);
    }
    .logo {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 72px;
    }

    nav {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    .social-links {
        align-self: center;
        grid-template-columns: 3/4;
    }
}

.body {
    grid-row: 2 / 3;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.toolbar {
    grid-row: 3/4;
    background-color: var(--text-primary-color);
    width: calc(100% + 2em);
    margin-left: -1em;
}
.social-links {
    a {
        padding: 0.5em;

        mat-icon {
            font-size: 24px;
            width: 24px;
            height: 24px;
        }
    }
}

.menu-list {
    list-style: none;
    display: flex;
    padding: unset;
    place-content: space-evenly;
    width: 100%;

    li {
        display: inline;
        a {
            //     color: var(--primary-color);
            text-decoration: none;
            text-transform: uppercase;
        }

        a.active {
            font-weight: bolder;
        }
    }
}

.menu-button {
    img {
        height: 36px;
        width: 36px;
        font-size: 36px;
    }

    img {
        border-radius: 50%;
    }
}
