<div class="content">

  <div class="top">
    <img routerLink="/" src="assets/AlPaso-Horizontal-Burger.svg" alt="Logo {{title}}" class="logo">

    <div class="social-links">
      <a href="https://www.messenger.com/t/AlPasoDiamante" target="_blank" alt="facebook">
        <mat-icon color="primary" svgIcon="messenger"></mat-icon><img>
      </a>
      <a href="https://instagram.com/AlPasoDiamante" target="_blank" alt="instagram">
        <mat-icon color="primary" svgIcon="instagram"></mat-icon>
      </a>
      <a href="https://wa.me/5493434689597" target="_blank" alt="whatsapp">
        <mat-icon color="primary" svgIcon="whatsapp"></mat-icon>
      </a>
    </div>

    <nav>
      <ul class="menu-list">
        <li><a class="mat-title active" routerLink="Tienda">Tienda</a></li>
        <li><a class="mat-title" routerLink="Conocenos">Conocenos</a></li>
        <li><a class="mat-title" routerLink="Contacto">Contacto</a></li>
      </ul>
    </nav>

  </div>

  <div class="body">
    <router-outlet></router-outlet>
  </div>

  <div class="toolbar">
    <ul class="menu-list">
      <li><a class="menu-button" href="" alt="Categorias">
          <mat-icon color="accent">list</mat-icon>
        </a></li>
      <li><a class="menu-button" href="" alt="Buscar">
          <mat-icon color="accent">search</mat-icon>
        </a></li>
      <li><a class="menu-button" routerLink="Pedido" alt="Pedido">
          <mat-icon color="accent" matBadge="{{pedidoItems}}" matBadgeColor="warn" [matBadgeHidden]="pedidoItems==0">
            shopping_basket
            <span class="cdk-visually-hidden">
              Ver Pedido: {{pedidoItems}} items
            </span>
          </mat-icon>
        </a></li>
      <li><a class="menu-button" href="" alt="Cuenta"><img src="assets/icons/icon-72x72.png" alt=""></a></li>
    </ul>
  </div>

</div>