<p class="mat-h1 text-center">Esta sección aún se está cocinando
</p>
<p class="mat-body-2 text-center">Como siempre podes conocer más de nosotros en las redes.</p>

<img class="cooking-img" src="assets/cooking.png" alt="Imagen cocinando">
<div class="info-comercial">

    <p class="text-center mat-body" style="margin-top:3em; font-weight: bold; text-align: center;">Si querés conocer más
        sobre esta plataforma, o tenes un negocio y querés tener tu propia version podés ponerte en contacto al</p>
    <a class="text-center mat-body" href="https://wa.me/5493424069403">+54 0342 154 069403</a>
    <a class="text-center mat-body" href="mailto:h.lopez.94@outlook.com">Correo</a>

</div>
<div class="creditos">
    <a href="https://www.freepik.es/vectores/cocina">Vector de Cocina creado por pikisuperstar - www.freepik.es</a>

</div>